In [19]:
import pandas as pd
df = pd.read_excel("Companies_2.xlsx")
df.head(10)

,#,Company Name,Traded In,Main Headquaters,Involvement,Sector,Revenue,Region
0,1,A. Barkan and Co.,Private,Israel,Israeli Construction on Occupied Land,Construction,$5M-$10M,"East Jerusalem, West Bank"
1,2,A. Hezi Building and Investment Co.,Private,Israel,Israeli Construction on Occupied Land,Construction,$0M-$1M,East Jerusalem
2,3,A.B. Plan,Private,Israel,Israeli Construction on Occupied Land,"Construction, Transportation",NaN,West Bank
3,4,Abadi Bakery,Private,Occupied Palestinian Territory,Settlement Production,Service Industry and Retail,$10M-$50M,"East Jerusalem, West Bank"
4,5,ABB Group,"NASDAQ, NYSE, SIX","Sweden, Switzerland",Exploitation of Occupied Production and Resour...,Renewable Energy,$1B-,West Bank
5,6,Achdut Factory for Tahini Halva and Sweets (Ac...,Private,Occupied Palestinian Territory,"Exploitation of Labor, Services to the Settlem...",Food Industry,$50M-$100M,West Bank
6,7,Ackerstein Industries,Private,Israel,"Israeli Construction on Occupied Land, Private...",Construction,$50M-$100M,"East Jerusalem, Naqab, West Bank"
7,8,AdaFresh,Private,Israel,"Services to the Settlements, Settlement Produc...",Agriculture and Agrotechnology,$10M-$50M,West Bank
8,9,Adama,SZSE,China,Services to the Settlements,Agriculture and Agrotechnology,$1B-,"Syrian Golan, West Bank"
9,10,Adanim Tea Company (1991),Private,Israel,Exploitation of Occupied Production and Resources,"Agriculture and Agrotechnology, Food Industry",$1M-$5M,West Bank

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   #                 463 non-null    int64
 1   Company Name      463 non-null    object
 2   Traded In         458 non-null    object
 3   Main Headquaters  460 non-null    object
 4   Involvement       463 non-null    object
 5   Sector            461 non-null    object
 6   Revenue           335 non-null    object
 7   Region            424 non-null    object
dtypes: int64(1), object(7)
memory usage: 29.1+ KB

In [21]:
df.columns

Index(['#', 'Company Name', 'Traded In', 'Main Headquaters', 'Involvement',
       'Sector', 'Revenue', 'Region'],
      dtype='object')

In [22]:
df.describe()

                #
count  463.000000
mean   232.000000
std    133.800847
min      1.000000
25%    116.500000
50%    232.000000
75%    347.500000
max    463.000000

In [23]:
# check for missing values

df.isnull().sum()

#                     0
Company Name          0
Traded In             5
Main Headquaters      3
Involvement           0
Sector                2
Revenue             128
Region               39
dtype: int64

In [24]:
#check for unqiue values
print(df['Region'].unique())

['East Jerusalem, West Bank' 'East Jerusalem' 'West Bank'
 'East Jerusalem, Naqab, West Bank' 'Syrian Golan, West Bank'
 'East Jerusalem, Gaza, Syrian Golan, West Bank'
 'East Jerusalem, Gaza, West Bank' 'Syrian Golan'
 'Jordan Valley, Syrian Golan, West Bank'
 'Gaza, Naqab, Syrian Golan, West Bank'
 'East Jerusalem, Syrian Golan, West Bank' nan 'Jordan Valley, West Bank'
 'Naqab, Syrian Golan, West Bank' 'Gaza, West Bank'
 'Gaza, Syrian Golan, West Bank' 'East Jerusalem, Gaza, Naqab, West Bank'
 'East Jerusalem, Naqab, Syrian Golan, West Bank'
 'East Jerusalem, Gaza, Naqab, Syrian Golan, West Bank' 'Gaza'
 'East Jerusalem, Naqab'
 'East Jerusalem, Jordan Valley, Naqab, Syrian Golan, West Bank'
 'Naqab, West Bank' 'Naqab, Syrian Golan' 'Gaza, Syrian Golan'
 'Gaza, Naqab, West Bank' 'East Jerusalem, Gaza, Naqab, Syrian Golan'
 'Jordan Valley' 'East Jerusalem, Gaza, Syrian Golan'
 'Gaza, Jordan Valley, Syrian Golan, West Bank'
 'East Jerusalem, Jordan Valley, Syrian Golan, West Bank']

In [25]:
print(df['Sector'].unique())

['Construction' 'Construction, Transportation'
 'Service Industry and Retail' 'Renewable Energy' 'Food Industry'
 'Agriculture and Agrotechnology'
 'Agriculture and Agrotechnology, Food Industry'
 'Hi-tech, Military, Security and Surveillance'
 'Military, Security and Surveillance' 'Electricity, Gas and Water Supply'
 'Industrial Manufacturing' 'Tourism'
 'Service Industry and Retail, Transportation' 'Hi-tech, Waste Management'
 'Communication' 'Heavy Machinery' 'Transportation' 'Real Estate'
 'Electricity, Gas and Water Supply, Waste Management'
 'Food Industry, Service Industry and Retail' 'Construction, Real Estate'
 'Agriculture and Agrotechnology, Food Industry, Tourism'
 'Heavy Machinery, Industrial Manufacturing'
 'Construction, Heavy Machinery' 'Other'
 'Electricity, Gas and Water Supply, Renewable Energy' 'Finance'
 'Heavy Machinery, Industrial Manufacturing, Military, Security and Surveillance'
 'Construction, Heavy Machinery, Waste Management'
 'Communication, Hi-tech, Industrial Manufacturing'
 'Communication, Military, Security and Surveillance'
 'Military, Security and Surveillance, Tourism'
 'Agriculture and Agrotechnology, Other' 'Communication, Hi-tech'
 'Waste Management' 'Construction, Military, Security and Surveillance'
 'Construction, Renewable Energy, Tourism'
 'Electricity, Gas and Water Supply, Service Industry and Retail'
 'Hi-tech' 'Industrial Manufacturing, Service Industry and Retail'
 'Pharmaceutical' 'Hi-tech, Industrial Manufacturing'
 'Tourism, Transportation' 'Construction, Real Estate, Transportation'
 'Electricity, Gas and Water Supply, Industrial Manufacturing'
 'Military, Security and Surveillance, Renewable Energy' nan
 'Agriculture and Agrotechnology, Service Industry and Retail'
 'Agriculture and Agrotechnology, Industrial Manufacturing'
 'Construction, Electricity, Gas and Water Supply, Heavy Machinery'
 'Heavy Machinery, Other'
 'Heavy Machinery, Military, Security and Surveillance'
 'Food Industry, Industrial Manufacturing'
 'Electricity, Gas and Water Supply, Finance'
 'Industrial Manufacturing, Military, Security and Surveillance'
 'Construction, Electricity, Gas and Water Supply, Transportation'
 'Construction, Electricity, Gas and Water Supply'
 'Heavy Machinery, Transportation'
 'Construction, Industrial Manufacturing'
 'Heavy Machinery, Industrial Manufacturing, Transportation'
 'Electricity, Gas and Water Supply, Food Industry'
 'Hi-tech, Other, Pharmaceutical'
 'Electricity, Gas and Water Supply, Military, Security and Surveillance, Renewable Energy'
 'Industrial Manufacturing, Waste Management'
 'Communication, Industrial Manufacturing'
 'Communication, Food Industry, Service Industry and Retail'
 'Construction, Electricity, Gas and Water Supply, Real Estate'
 'Construction, Real Estate, Renewable Energy'
 'Finance, Service Industry and Retail, Tourism'
 'Industrial Manufacturing, Transportation'
 'Military, Security and Surveillance, Service Industry and Retail'
 'Agriculture and Agrotechnology, Construction, Real Estate'
 'Heavy Machinery, Military, Security and Surveillance, Service Industry and Retail'
 'Agriculture and Agrotechnology, Electricity, Gas and Water Supply'
 'Construction, Waste Management']

In [26]:
print(df['Main Headquaters'].unique())

['Israel' 'Occupied Palestinian Territory' 'Sweden, Switzerland' 'China'
 'Israel, Occupied Syrian Golan' 'USA' 'Canada'
 'Israel, Occupied Palestinian Territory' 'Luxembourg' 'Italy' nan
 'Occupied Syrian Golan' 'Sweden' 'Germany' 'Netherlands' 'Spain' 'Mexico'
 'France' 'Netherlands, UK' 'Israel, USA' 'UK' 'Switzerland' 'South Korea'
 'Turkey' 'Japan' 'Germany, Switzerland' 'Denmark' 'Israel, South Africa'
 'Ireland' 'Singapore' 'Belgium' 'Portugal' 'Liechtenstein'
 'Israel, Netherlands']

In [30]:
# df[df['Company Name'].str.contains('microsoft', case=False, na=False)]

In [37]:
#count of companies by HQ country

NoOfCountries = df['Region'].nunique()
print(NoOfCountries)

HQcounts = df['Main Headquaters'].value_counts()
print(HQcounts.head(10))

30
Main Headquaters
Israel                                    271
Occupied Palestinian Territory             56
USA                                        30
Israel, Occupied Palestinian Territory     20
Germany                                    14
Occupied Syrian Golan                       9
Italy                                       8
China                                       5
Spain                                       5
Japan                                       4
Name: count, dtype: int64