In [1]:
import pandas as pd
df = pd.read_excel("Companies_WhoProfits.xlsx")
df.head(10)

,#,Company Name,Traded In,Main Headquaters,Involvement,Sector,Revenue,Region
0,1,American President Lines,Subsidiary of Public,NaN,"Population Control, Specialized Equipment and ...",Transportation,$1B-$5B,NaN
1,2,Volvo Group (AB Volvo),Public,Sweden,"Israeli Construction on Occupied Land, Populat...","Heavy Machinery, Transportation",$50B-$100B,"East Jerusalem, Naqab, West Bank"
2,3,Maersk (Mærsk),Public,Denmark,"Services to the Settlements, Specialized Equip...",Transportation,$50B-$100B,"Gaza, West Bank"
3,4,Mayer Cars & Trucks Co.,Private,Israel,"Population Control, Services to the Settlement...","Heavy Machinery, Transportation",$1B-$9B,"East Jerusalem, West Bank"
4,5,"Tripadvisor, Inc.","NASDAQ, Public",USA,"Services to the Settlements, Settlement Enterp...",Tourism,$1B-$5B,"East Jerusalem, Jordan Valley, Syrian Golan, W..."
5,6,One Software Technologies,TASE,Israel,"Specialized Equipment and Services, The Wall a...","Hi-tech, Military, Security and Surveillance",$1B-$5B,"Gaza, Naqab, West Bank"
6,7,RE/MAX Israel (Impact Property Developers),Private,Israel,Services to the Settlements,Real Estate,NaN,"East Jerusalem, Syrian Golan, West Bank"
7,8,Natoon Nof Yam Security,Private,Israel,"Private Security and Surveillance Technology, ...","Military, Security and Surveillance",NaN,West Bank
8,9,Mikud Guarding (Mikud Group),Private,Israel,"Private Security and Surveillance Technology, ...","Military, Security and Surveillance",NaN,"East Jerusalem, West Bank"
9,10,Leonardo S.p.A,BIT,Italy,"Population Control, Specialized Equipment and ...","Military, Security and Surveillance",$10B-$20B,Gaza

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464 entries, 0 to 463
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   #                 464 non-null    int64
 1   Company Name      464 non-null    object
 2   Traded In         459 non-null    object
 3   Main Headquaters  461 non-null    object
 4   Involvement       464 non-null    object
 5   Sector            462 non-null    object
 6   Revenue           336 non-null    object
 7   Region            425 non-null    object
dtypes: int64(1), object(7)
memory usage: 29.1+ KB

In [9]:
df.columns

Index(['#', 'Company Name', 'Traded In', 'Main Headquaters', 'Involvement',
       'Sector', 'Revenue', 'Region'],
      dtype='object')

In [10]:
df.describe()

                #
count  464.000000
mean   232.500000
std    134.089522
min      1.000000
25%    116.750000
50%    232.500000
75%    348.250000
max    464.000000

In [12]:
# check for missing values

df.isnull().sum()

#                     0
Company Name          0
Traded In             5
Main Headquaters      3
Involvement           0
Sector                2
Revenue             128
Region               39
dtype: int64

In [13]:
#check for unqiue values
print(df['Region'].unique())

[nan 'East Jerusalem, Naqab, West Bank' 'Gaza, West Bank'
 'East Jerusalem, West Bank'
 'East Jerusalem, Jordan Valley, Syrian Golan, West Bank'
 'Gaza, Naqab, West Bank' 'East Jerusalem, Syrian Golan, West Bank'
 'West Bank' 'Gaza' 'Naqab, Syrian Golan, West Bank'
 'East Jerusalem, Gaza, Syrian Golan, West Bank' 'Syrian Golan, West Bank'
 'East Jerusalem' 'East Jerusalem, Gaza, Naqab, West Bank'
 'East Jerusalem, Gaza, Naqab, Syrian Golan'
 'East Jerusalem, Gaza, Naqab, Syrian Golan, West Bank'
 'East Jerusalem, Naqab, Syrian Golan, West Bank'
 'East Jerusalem, Jordan Valley, Naqab, Syrian Golan, West Bank'
 'East Jerusalem, Gaza, West Bank' 'East Jerusalem, Naqab' 'Jordan Valley'
 'Naqab, Syrian Golan' 'Syrian Golan'
 'Jordan Valley, Syrian Golan, West Bank' 'Naqab, West Bank'
 'Gaza, Syrian Golan, West Bank' 'Gaza, Syrian Golan'
 'Jordan Valley, West Bank' 'East Jerusalem, Gaza, Syrian Golan'
 'Gaza, Jordan Valley, Syrian Golan, West Bank'
 'Gaza, Naqab, Syrian Golan, West Bank']

In [14]:
print(df['Sector'].unique())

['Transportation' 'Heavy Machinery, Transportation' 'Tourism'
 'Hi-tech, Military, Security and Surveillance' 'Real Estate'
 'Military, Security and Surveillance' 'Food Industry' 'Communication'
 'Construction' 'Electricity, Gas and Water Supply'
 'Electricity, Gas and Water Supply, Renewable Energy'
 'Heavy Machinery, Other'
 'Industrial Manufacturing, Service Industry and Retail' 'Finance'
 'Food Industry, Service Industry and Retail'
 'Heavy Machinery, Industrial Manufacturing' 'Construction, Real Estate'
 'Construction, Real Estate, Transportation' 'Pharmaceutical'
 'Construction, Electricity, Gas and Water Supply, Real Estate'
 'Communication, Hi-tech' 'Heavy Machinery' 'Service Industry and Retail'
 'Industrial Manufacturing' 'Hi-tech'
 'Industrial Manufacturing, Military, Security and Surveillance' 'Other'
 'Construction, Waste Management'
 'Construction, Electricity, Gas and Water Supply, Transportation'
 'Heavy Machinery, Military, Security and Surveillance'
 'Communication, Military, Security and Surveillance'
 'Construction, Transportation' 'Industrial Manufacturing, Transportation'
 'Renewable Energy' 'Construction, Real Estate, Renewable Energy'
 'Electricity, Gas and Water Supply, Food Industry'
 'Agriculture and Agrotechnology, Food Industry'
 'Hi-tech, Waste Management'
 'Finance, Service Industry and Retail, Tourism'
 'Communication, Food Industry, Service Industry and Retail'
 'Agriculture and Agrotechnology' 'Waste Management'
 'Electricity, Gas and Water Supply, Waste Management'
 'Agriculture and Agrotechnology, Industrial Manufacturing'
 'Agriculture and Agrotechnology, Other'
 'Military, Security and Surveillance, Tourism'
 'Electricity, Gas and Water Supply, Military, Security and Surveillance, Renewable Energy'
 'Military, Security and Surveillance, Renewable Energy'
 'Construction, Electricity, Gas and Water Supply, Heavy Machinery'
 'Construction, Heavy Machinery' 'Food Industry, Industrial Manufacturing'
 'Agriculture and Agrotechnology, Food Industry, Tourism'
 'Construction, Military, Security and Surveillance'
 'Heavy Machinery, Industrial Manufacturing, Transportation'
 'Tourism, Transportation'
 'Heavy Machinery, Military, Security and Surveillance, Service Industry and Retail'
 'Construction, Renewable Energy, Tourism'
 'Electricity, Gas and Water Supply, Service Industry and Retail'
 'Heavy Machinery, Industrial Manufacturing, Military, Security and Surveillance'
 'Electricity, Gas and Water Supply, Finance'
 'Construction, Heavy Machinery, Waste Management'
 'Construction, Industrial Manufacturing'
 'Agriculture and Agrotechnology, Construction, Real Estate'
 'Agriculture and Agrotechnology, Electricity, Gas and Water Supply'
 'Hi-tech, Industrial Manufacturing' 'Hi-tech, Other, Pharmaceutical'
 'Communication, Industrial Manufacturing'
 'Industrial Manufacturing, Waste Management'
 'Agriculture and Agrotechnology, Service Industry and Retail' nan
 'Communication, Hi-tech, Industrial Manufacturing'
 'Construction, Electricity, Gas and Water Supply'
 'Military, Security and Surveillance, Service Industry and Retail'
 'Service Industry and Retail, Transportation'
 'Electricity, Gas and Water Supply, Industrial Manufacturing']

In [15]:
print(df['Main Headquaters'].unique())

[nan 'Sweden' 'Denmark' 'Israel' 'USA' 'Italy'
 'Occupied Palestinian Territory' 'Spain' 'Japan' 'Netherlands'
 'South Korea' 'France' 'UK' 'Canada' 'Germany' 'Israel, USA'
 'Israel, Occupied Palestinian Territory' 'Singapore'
 'Occupied Syrian Golan' 'Portugal' 'Liechtenstein' 'Belgium' 'China'
 'Israel, Occupied Syrian Golan' 'Ireland' 'Israel, Netherlands'
 'Switzerland' 'Turkey' 'Israel, South Africa' 'Luxembourg' 'Mexico'
 'Netherlands, UK' 'Germany, Switzerland' 'Sweden, Switzerland']