In [2]:
import pandas as pd
df = pd.read_excel("Companies_2.xlsx")
df.head(5)

,F,Company Name,Traded In,Main Headquaters,Involvement,Sector,Revenue,Region
0,1,A. Barkan and Co.,Private,Israel,Israeli Construction on Occupied Land,Construction,$5M-$10M,"East Jerusalem, West Bank"
1,2,A. Hezi Building and Investment Co.,Private,Israel,Israeli Construction on Occupied Land,Construction,$0M-$1M,East Jerusalem
2,3,A.B. Plan,Private,Israel,Israeli Construction on Occupied Land,"Construction, Transportation",NaN,West Bank
3,4,Abadi Bakery,Private,Occupied Palestinian Territory,Settlement Production,Service Industry and Retail,$10M-$50M,"East Jerusalem, West Bank"
4,5,ABB Group,"NASDAQ, NYSE, SIX","Sweden, Switzerland",Exploitation of Occupied Production and Resour...,Renewable Energy,$1B-,West Bank

In [3]:
#companies that have the highest revenue 
def convert_revenue(val):
    val = str(val).replace('$', '').replace(',', '').strip().upper()
    if 'B' in val:
        return float(val.replace('B', '')) * 1_000_000_000
    elif 'M' in val:
        return float(val.replace('M', '')) * 1_000_000
    elif 'K' in val:
        return float(val.replace('K', '')) * 1_000
    else:
        try:
            return float(val)
        except:
            return None

df['Revenue'] = df['Revenue'].apply(convert_revenue)

ValueError: could not convert string to float: '5-10'